<nav class="flex flex-wrap justify-between py-2 px-6 text-white">
    <div class="image flex flex-wrap">
        <i class="fa-solid fa-bars text-2xl mr-4 mt-1"></i>
        <img class="h-10 ml-4" src="/assets/task.png" alt="logo">
        <p class="mt-1 mx-1 text-2xl font-ubuntu">Planify</p>
    </div>
    <div class="search_box mx-8 px-2 overflow-hidden rounded-lg border-2 border-white bg-white text-zinc-800">
        <i class="fa-solid px-3 py-2 cursor-pointer fa-magnifying-glass"></i>
        <input type="text" class="py-2 focus:outline-none w-[35rem]" placeholder="Search">
    </div>
    <div class="icons mt-2 text-white text-2xl">
        <i class="fa-solid fa-rotate-right mr-3"></i>
        <i class="fa-regular fa-sun mr-3"></i>
        <i class="fa-solid fa-gear mr-3"></i>
        <i class="fa-solid fa-user-large mr-3"></i>
    </div>
</nav>
<hr />